body {
  font-family : sans-serif;
  font-size:18px;
  width:800px;
  padding: 20px;
  margin: auto;
/*  margin-left:auto;
  margin-right:auto;
  background-color:#e0e0e0;
*/
  background-color:#ffffff;
}

h1 {
  font-size:30px;
  text-align:center;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content:center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
}

.double_width_column {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 2;
}

.quad_width_column {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 4;
}
.hide{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.big_button {
  position: relative;
  padding: 8px 16px;
/*    background: #3379F6;*/
/*    border: none;
*/
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.loading_button {
  position: relative;
  padding: 8px 16px;
/*    background: #3379F6;*/
/*    border: none;
*/
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.loading_button:active {
  background: #3379F6;
}

.loading_button_text{
transition: all 0.2s;
}

@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }

  to {
      transform: rotate(1turn);
  }
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #000000;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
